.modal {
  margin: 0;
  border-radius: 0;
}

.modal > div {
  margin: 0;
  border-radius: 0;
}

.modal-content {
  min-height: calc(100vh);
  min-width: 100vw;
  border: none;
  border-radius: 0;
  /* background-color: #f9f9f9; */
}

.fileContainer {
  box-shadow: none !important;
  padding: 0;
}

.chooseFileButton {
  cursor: pointer;
  width: 100% !important;
  font-size: 1rem !important;
  background-color: #343a40 !important;
  padding: 6px 50px 6px 50px !important;
  margin: 0 10px 0 10px;
  border-radius: 5px !important;
}
