/* * {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  max-width: 100vw !important;
  user-select: none;
  font-family: Raleway, sans-serif;
  background-color: #f3f3f3;
}

@media (min-width: 600px) {
  .app-container {
    margin: 0 5% 0 5%;
  }
}
@media (min-width: 1000px) {
  .app-container {
    margin: 0 20% 0 20%;
  }
}
@media (min-width: 1300px) {
  .app-container {
    margin: 0 30% 0 30%;
  }
}
