.add-feedback-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  user-select: none;
  font-family: Raleway, sans-serif;
  top: -30px;
  position: fixed;
  margin-top: 35%;
}

@media (min-width: 600px) {
  .add-feedback-cards {
    margin: 0 -5% 0 -5%;
    margin-top: 20%;
  }
}
@media (min-width: 1000px) {
  .add-feedback-cards {
    margin: 0 -20% 0 -20%;
    margin-top: 10%;
  }
}
@media (min-width: 1300px) {
  .add-feedback-cards {
    margin: 0 -30% 0 -30%;
    margin-top: 10%;
  }
}

.animated-mood-card {
  margin: -90px 0px 0px 0px;
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-animated-mood-card {
  padding: 5px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  /* width: calc(100vw - 5%); */
  width: 300px;
  max-width: 300px;
  height: 550px;
  max-height: 570px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.15),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

img {
  height: 420px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button[aria-label="previous"],
button[aria-label="next"] {
  background: salmon !important;
  color: black !important;
}

h2 {
  display: inline-block;
  margin-right: 10px;
}

h2:nth-of-type(2) {
  opacity: 0.7;
  font-size: 1.35rem;
}

h5 {
  margin-top: -15px;
  margin-left: 2px;
  color: lightgray;
}
h5:last-of-type {
  color: darkgray;
}
/* 
.mood-card > div {
  height: 380px !important;
} */

/* .mood-card {
  height: 500px !important;
} */

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}
