.feed-card {
  flex: 1;
  padding: 0;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  max-width: 100% !important;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.feed-card-img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  /* max-height: 150px; */
  /* border-radius: 15px; */
  /* box-sizing: border-box; */
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1); */
}

.feed-card-content {
  max-width: 100%;
  padding: 15px 10px 15px 10px;
}

.feed-card-header {
  font-weight: 600;
}

.feed-card-header > p {
  width: 85%;
}

.feed-card-header-meta {
  padding: 5px 5px 5px 5px;
  font-size: 80%;
  color: white;
  position: absolute;
  right: 0px;
  margin: 0;
  margin-right: 10px;
  border-radius: 0px 5px 0px 10px;
}

@media (min-width: 600px) {
  .feed-card-header-meta {
    right: 3% !important;
  }
}
@media (min-width: 1000px) {
  .feed-card-header-meta {
    right: 19% !important;
  }
}
@media (min-width: 1300px) {
  .feed-card-header-meta {
    right: 29.45% !important;
  }
}

.feed-card-body > p {
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 0;
  max-width: 100% !important;
  word-wrap: break-word;
  /* width: 80%; */
}

.feed-card-body-hashtags {
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 1.1em;
}

.feed-card-body-meta {
  font-size: 80%;
  color: grey;
  padding-bottom: 0px;
}

.feed-card-comments {
  margin-top: 0px;
  padding: 0 0 0 0;
  word-wrap: break-word;
}

.feed-card-reactions {
  display: flex;
  flex-direction: row;
}

.feed-card-reactions-emojii {
  height: 35px;
  padding: 3px 3px 3px 0px;
  border-color: white;
  margin-left: 0px;
  margin-right: 25px;
  margin-bottom: 10px;
  margin-top: 3px;
  z-index: 21;
  max-width: 100%;
}

.feed-card-reaction-counter {
  position: absolute;
  margin-top: 15px;
  margin-left: 25px;
  background-color: #34ace0;
  color: white;
  border-radius: 100%;
  padding: 0px 8px 0px 8px;
  /* height: 20px;
  width: 20px; */
  /* padding-right: 10px; */
  /* left: 0; */
  /* top: 0; */
  z-index: 20;
}

.feed-card-comments-divider {
  /* border-top: 1px; */
  /* border-color: red; */
  width: 90%;
}

.feed-card-comments-item-div {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  padding: 0 0 0 0;
}

.feed-card-comments-item {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 15px;
  /* border-style: solid; */
  /* border-radius: 0 15px 15px 15px; */
}
.feed-card-comments-item-div:nth-child(odd) p {
  background: #f8f8f8;
  margin-right: 1px;
}
.feed-card-comments-item-div:nth-child(even) p {
  background: #f0f0f0;
  margin-left: 1px;
  /* margin-right: -2px; */
}

.feed-card-comments-item-actions {
  /* margin-right: 10px;
  margin-left: 10px; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  font-size: 13px;
  /* font-weight: 600; */
  color: grey;
}

.feed-card-add-comment {
  margin-top: 14px;
}

.feed-card-add-comment-form-group {
  margin-bottom: 0;
}

.feed-card-actions {
  /* flex: 1; */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.feed-card-actions-item {
  font-size: 16px;
  margin-right: 10px;
  color: #34ace0;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background: white;
  border-color: #34ace0;
  /* border-style: solid; */
  border-width: 1px;
  border-radius: 45px;
}

.feed-card-actions-item:active {
  font-size: 16px;
  margin-right: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  background: #34ace0;
  /* border-style: solid; */
  border-width: 1px;
  border-radius: 90px;
}

.feed-card-actions-emojii {
  height: 60px;
  padding: 10px 10px 10px 10px;
}

.tooltip-inner {
  background-color: #34ace0;
  border-radius: 15px;
  max-width: 100vw;
}

.popover-body {
  background-color: #34ace0;
  border-radius: 15px;
  max-width: 99999px;
}
.popover {
  background-color: #34ace0;
  border-radius: 15px;
  max-width: 99999px;
}
.arrow {
  color: #34ace0;
}

/* .feed-card-actions-item:active {
  font-size: 14px;
  margin-right: 10px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  padding: 2px 8px 2px 8px;
  background: #e91e63;
  border-color: #e91e63;
  border-style: solid;
  border-width: 1px;
  border-radius: 90px;
} */

.feed-card-actions-buttons-primary {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0);
  border-width: 1px;
  border-color: #3f51b5;
  background-color: #3f51b5b0;
  color: white;
}

.feed-card-actions-buttons-secondary {
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0);
  border-width: 1px;
  border-color: #2c2c2e;
  background-color: #2c2c2ec7;
  color: white;
}

.feed-card-actions-buttons:active {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #3f51b5;
  color: white;
  border-width: 1px;
  border-color: #3f51b5;
}

.feed-card-image {
  cursor: pointer;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 550px;
  box-sizing: border-box;
  /* margin-top: 15px; */
  /* border-radius: 15px; */
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1); */
}
