.upload-image-preview {
  cursor: pointer;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 150px;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  filter: brightness(50%);
}

.upload-image-container {
  position: relative;
  text-align: center;
}

.text-block {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: rgb(233, 233, 233);
}

.upload-image-preview:hover {
  cursor: pointer;
  max-width: 100%;
  object-fit: cover;
  max-height: 150px;
  border-radius: 15px;
  filter: brightness(40%);
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
