.lazy-load-button {
  cursor: pointer;
  margin: 10px 10px 60px 10px;
  background-color: #34ace0;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
}

.LazyLoad {
  padding-bottom: 4rem;
}