.results-container {
  margin-bottom: 60px;
  /* background-color: #e2eaff; */
}

.results-searchbar {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.results-figure-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 0;
}

.results-figure-options-item {
  border-radius: 5px;
  cursor: pointer;
}
